
* {
    box-sizing: border-box;
}

html  {
  font-size: 1.1875rem;
}


/* body */

body {
    margin: auto;
}

/* nav-bar */

.nav-bar-container {
    background-color: #00cc8a;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    height: 3em;
}

.logo {
  height: max-content;
  align-self: center;
  margin-left: 1em;
  }

.nav-bar-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.link {
    padding: 2em;
    color: unset;
    font-family: cursive;
    font-weight: bold;
  }

  a:visited {
    color: black;
  }
  
  a:hover, a:link {
    color: black;
  }


  .lang-dropdown {
    cursor: pointer;
    margin-right: 5px;
    border-color: transparent;
    background-color: transparent;
    font-family: cursive;
    font-weight: bold;
    font-size: inherit;
  }
  
  .lang-selector {
    display: flex;
    justify-content: space-around;
  }

/** Meme-Editor **/

.meme-editor {
    background-color: paleturquoise;
    display:flex;
    justify-content: space-between;
    display: none;
}



/* canvas */

.canvas-container{
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 1em 0 0 1em;

}


#my-canvas {
    margin-right: 3em;
    border: 1px solid blue;
    background-color: linen;
}

.canvas-image {
    display: none;
}

/* Functions-container */

.functions-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 4em;
    padding-right: 4em;
}


.input-text {
width: 300px;
font-size: 1.25em;
}

button {
  border: none;
  border-radius: 12px;
  background-color: #fff;
  cursor: pointer;
  transition: background .3s;
  height: 2.4rem;
  width: 2.4rem;
  margin: 0.3em;
}

button:hover {
  background-color: #c7c7c7;
}

button img {
  height: 60%;
  margin: 20% 0;
}

.upper-btns-line {
  display: flex;
  align-items: center;
}

.lower-btns-line {
  display: flex;
}

.color-input {
  position: fixed;
  top: 3000px;
  bottom: 3000px;
}


/* Gallery */

.image-gallery {
    background-color:  #00cc8a;
    text-align: center;
    font-size: 30px;
}

footer {
  background-color:  #00cc8a;
  widows: 2em;
  text-align: center;
}

.img {
    width: 150px;
    height: 150px;
}


.galery {
    background-color:  #00cc8a;;
    height: fit-content;
    width:fit-content;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


  


/* Download & share - TBD*/ 
/* form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:1px solid #000;
    margin:10px;
    padding:5px;
  }
  
  .btn {
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 5px;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
  }
  
  .file-input {
    border: 1px solid red;
    padding: 5px;
    margin: 10px;
  }s */

/* Download & share end */
