
* {
    box-sizing: border-box;
}


.canvas-container{
    height: fit-content;
    width: fit-content;
    margin: auto;
}


#my-canvas {
    margin: 20px;
    border: 1px solid blue;
    background-color: linen;
}

.canvas-image {
    display: none;
}

.galery {
    background-color: lemonchiffon;
    height: fit-content;
    width:fit-content;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img {
    width: 150px;
    height: 150px;
}